.homepage {
  display: flex;
  flex-direction: row;
  position: relative;
  gap: 2px;
  align-items: center;
}
main {
  position: relative;
}

.homepage > button {
  font-weight: 400;
  position: relative;
  padding: 100px 10px;
  height: 100%;
  border: 1px solid rgb(255, 255, 255);
}
.homepage > button:hover {
  border: 1px solid rgb(204, 204, 204);
  border-radius: 10px;
  font-weight: 800;
}

.imageContainer {
  text-align: center;
  position: relative;
}

.arrow {
  position: absolute;
  font-size: 40px;
}

.currentImageSecondaryContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.currentImageSecondary {
  margin-top: 10px;
  padding: 6px;
  border-radius: 50%;
  background-color: rgb(196, 196, 196);
  border: 1px solid grey;
}

.active {
  background-color: white;
}
