.homepage {
  display: flex;
  flex-direction: row;
  gap: 20px;
  position: relative;
  align-items: center;
}
main {
  position: relative;
}

.homepage > button {
  font-weight: 400;
  border: none;
  position: relative;
  padding: 100px 7px;
  height: 100%;
}
.homepage > button:hover {
  border: 1px solid rgb(204, 204, 204);
  font-weight: 800;
}

.imageContainer {
  min-width: 75vw;
  text-align: center;
}

.arrow {
  font-size: 40px;
}

.currentImageSecondaryContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.currentImageSecondary {
  margin-top: 10px;
  padding: 6px;
  border-radius: 50%;
  background-color: rgb(196, 196, 196);
  border: 1px solid grey;
}

.active {
  background-color: white;
}
