.dropdownSearch {
  position: fixed;

  margin: 0px;

  padding: 2px;
  border: 3px solid black;
  border-radius: 10px;
  background-color: white;
}
.clickDropDown {
  position: fixed;
}

.dropdownSearch > div > button:nth-child(n + 1) {
  background-color: white;
  border: none;
  border-bottom: 1px solid rgb(223, 223, 223);
  height: 25px;
}
.dropdownSearch > div > button:last-child {
  border: none;
}
.characterSearchButton {
  font-weight: 800;
  font-size: 15px;
}
.found {
  font-weight: 300;
  text-decoration-line: line-through;
}
