a {
  padding: 5px;
  font-weight: 800;
  z-index: 99;
}
nav {
  z-index: 98;
}
nav {
  position: fixed;
  width: 100vw;
  border-bottom: 1px solid black;
  padding: 0px 5px;
  display: flex;
  align-items: center;
  height: var(--heightNav);
}
nav > ul {
  display: flex;
}
