<main>
  <div (click)="processClickPosition($event)" class="finderDiv">
    <img src="{{ imageList[getIndex()].url }}" class="searchImage" />
  </div>
  <div *ngIf="getIndex() != undefined">
    <app-character-drop-down
      (searchIndexValue)="processCharacterClickFinal($event)"
      [imageIndex]="getIndex()"
    ></app-character-drop-down>
  </div>
  <div class="gameData">
    <div class="timer">
      {{
        (timer.minutes < 10 ? "0" : "") +
          timer.minutes +
          " : " +
          (timer.seconds < 10 ? "0" : "") +
          timer.seconds
      }}
    </div>
    <div class="remaining">
      {{ tobeFound }}
    </div>
  </div>
</main>
